snippet tpl "My CP Template" e
#include <bits/stdc++.h>
using namespace std;

#define endl "\n"
#define int long long
#define all(a) a.begin(), a.end()
#define rep(i, a, n) for (int i = a; i < n; ++i)

int m = 1000000007;

void solve() {
  int n;
  cin >> n;
}

signed main() {

  ios_base::sync_with_stdio(false);
  cin.tie(NULL);
  cout.tie(NULL);

  int t;
  cin >> t;

  while (t) {
    solve();
    t--;
  }
  return 0;
}
endsnippet
